{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "extends": "google",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2017
    },
    "rules":{
        "indent": ["error", 4],
        "object-curly-spacing": 0,
        "no-const-assign": "warn",
        "no-undef": "warn",
        "no-unreachable": "error",
        "valid-typeof": "warn",
        "max-len": ["warn", 185],
        "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }]
     }
}